<div class="forgot-container">
  <div class="forgot-card">
    <div class="header">
      <h2 class="title1">Forgot Password</h2>
      <p class="sub1">Enter your email to reset your password</p>
    </div>

    <form class="form" [formGroup]="forgotFrom" (ngSubmit)="onSubmit()">
      <div class="email-field">
        <label class="e-lbl" for="email">Email Address</label>
        <div class="e-input">
          <input type="email" id="email" formControlName="email" placeholder="Enter your email">
        </div>
      </div>

      <button type="submit" class="login-btn" [disabled]="!forgotFrom.valid">
        <span class="lb-txt">Reset Password</span>
      </button>
    </form>

    <div class="footer">
      <span class="f-txt1">Remembered? </span>
      <a class="f-txt2" routerLink="/login">Log in</a>
    </div>
  </div>
  </div>
